@tailwind base;
@taiwind components;

.btn {
  @apply inline-block px-5 py-3 rounded uppercase tracking-wider font-semibold text-sm;
  transition: all .1s;
}

.btn:focus {
  @apply outline-none shadow-outline;
}

.btn-primary {
  @apply bg-brand-blue text-white;
}

.btn-primary:hover {
  @apply bg-brand-blue-light;
}

.btn-primary:active {
  @apply bg-brand-blue-dark;
}

.btn-secondary {
  @apply bg-gray-400 text-gray-900;
}

.btn-secondary:hover {
  @apply bg-gray-300;
}

.btn-secondary:active {
  @apply bg-gray-500;
}

/* Labels */
.form-label {
  @apply text-gray-600 text-sm font-bold mb-2;
}

/* Inputs */
.form-input {
  @apply bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight;
  transition: all .1s;
}

.form-input:focus {
  @apply outline-none bg-white border-purple-600;
}

/* File upload */
.form-file-upload {
  @apply w-48 flex flex-col outline-none items-center px-2 py-4 rounded-lg tracking-wide cursor-pointer bg-gray-200 border-2 border-gray-200 text-gray-600;
}

.form-file-upload:hover,
.form-file-upload:focus,
.form-file-upload:active {
  @apply border-purple-500 bg-white text-purple-500;
}

/* States (error, success etc) */
.error-input {
  @apply border-red-400 border-2;
}

/* Modal */

.modal {
  display: none;
}

.modal.is-open {
  display: block;
}

@keyframes mmfadeIn {
  from { opacity: 0; }
    to { opacity: 0.5; }
}

@keyframes mmfadeOut {
  from { opacity: 0.5; }
    to { opacity: 0; }
}

@keyframes mmslideIn {
from { transform: translateY(15%); }
  to { transform: translateY(0); }
}

@keyframes mmslideOut {
  from { transform: translateY(0); }
  to { transform: translateY(-10%); }
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .25s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .25s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .25s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .25s cubic-bezier(0, 0, .2, 1);
}

/* Custom Utilities */
.appearance-text {
  appearance: textfield;
}

.error-outline {
  box-shadow: 0 0 0 3px rgba(225, 66, 66, 0.5);
}

@tailwind utilities;
