extends ../layouts/main-layout.pug

block content
  main
    h1.center-text Set a New Password

    include ../includes/flash-msgs.pug

    form.login-form.centered-form(action=`/new-password/${resetToken}`, method='POST')
      input(type='hidden', name='_csrf' value=csrfToken)
      input(type='hidden', name='email', value=email)

      .form-control
        label(for='password') New password
        input#password(type='password', name='password', placeholder='Password')
      .form-control
        label(for='password2') Confirm New password
        input#password2(type='password', name='confirmPassword', placeholder='Password')

      button.btn(type='submit') Save