extends ../layouts/main-layout.pug

block content
  main(class='min-h-screen flex-wrap')

    if typeof validationErrors === 'undefined'
      - validationErrors = {}

    div(class='mb-6 max-w-md mx-auto')
      include ../includes/flash-msgs.pug

    div(class='shadow-md px-8 py-5 rounded-sm max-w-md mx-auto w-full bg-white')
      h1(class='text-3xl font-bold text-center text-gray-800') Reset Your Password

      div(class='mt-6 py-4')
        form(class='w-full', action='/password-reset', method='POST')
          input(type='hidden', name='_csrf' value=csrfToken)
          div(class='w-full mb-4 border rounded border-b-0')
            input#email(class='w-full block border-b-2 rounded px-3 py-2 text-gray-600 focus:outline-none focus:border-gray-600', autofocus='true', type='text', name='email', placeholder='Email', value=email)

          button.btn(class='bg-green-500 text-white w-full mt-4 font-semibold', type='submit') Get Password Reset Link

    div(class='mt-6 w-full text-center')
      span(class='text-gray-500') Remember your password?&nbsp;
      a(class='underline hover:text-green-500 tracking', href='/login') Log in
      | .

